$primary: #9356DC;
$primary-light: #f5edff; 
$secondary: #FF79DA;
$terciary: #99E2D0;
$dark: #353535;
$gray: #eaeaea;
$gray-light: #f6f6f6;

$head-font: "Shrikhand";
$body-font: "Roboto";

$breakpoints:(
    mobile: 768px,
    tablet: 992px
);