.jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 26px;
    font-family: $body-font;
    background-color: $gray-light;
    min-height: 400px;
    &__title{
        font-size: 56px;
        @include responsive(mobile){
            padding: 0 26px;
            font-size: 26px;
        }
    }
    &__subtitle{
        color: gray;
        font-size: 32px;
        @include responsive(mobile){
            font-size: 18px;
        }
    }
    &__action{
        margin-top: 20px;
        margin-bottom: 15px;
    }
    @include responsive(mobile){
        min-height: 250px;
    }
}

.container{
    padding: 45px 140px;
}

.flex-container{
    margin: 30px 0;
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex-auto{
    display: flex;
    flex-direction: column;
    flex: auto;
}

@include responsive(mobile)
{
    .flex-container{
        flex-direction: column;
        grid-gap: 25px;
    }
    .flex-col{
        flex: 1;
    }
    .container{
        padding: 45px 25px;
    }
}